<h1>Knoten löschen</h1>
<p>Knoten {{model.name}} wirklich löschen?</p>
{{bs-button defaultText="Ja, löschen" type="primary" onClick=(action "deleteKnot")}}
{{bs-button defaultText="Nein, zurück" type="primary"}}
