<h1>{{model.name}}</h1>

<div class="row">
<img src="/static/img/{{if model.image model.image 'no_image.png'}}">
    <form>
        <div class="form-group">
        </div>
    </form>
</div>
<div class="row results">
<div class="col-sm-12">
<ul class="list-group">
    <li class="list-group-item">
        <div class="input-group">
          <span class="input-group-addon">Benötigte Längen für</span>
          {{input type="number" change=(action "calcLength") class="form-control form-control-lg" placeholder="" value=model.length min=1}}
          <span class="input-group-addon">cm</span>
        </div>
    </li>
{{#each model.cords as |cord|}}
    {{knot-cord cord=cord}}
{{/each}}
</ul>
</div>
</div>

<div class="row">
{{#link-to 'knots.edit' model class="btn btn-primary mx-auto my-2"}}Bearbeiten{{/link-to}}
{{#link-to 'knots.delete' model class="btn btn-danger mx-auto my-2"}}Löschen {{/link-to}}
</div>

