{{#nav-bar}}{{/nav-bar}}

<div class="container">
{{outlet}}
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted"><a href="https://github.com/Finn10111/knoten-kalkulator" target="_blank">{{fa-icon "github"}} Knoten-Kalkulator</a></span>
  </div>
</footer>
