<form {{action "authenticate" on="submit"}}>
    {{input label="Benutzername" placeholder="Benutzername" value=identification required=true}}
    {{input type="password" label="Passwort" placeholder="Passwort" value=password required=true}}
    <button type="submit">Login</button>
</form>
