{{#bs-navbar type='dark' backgroundColor='dark' as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}Knoten-Kalkulator{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to 'knots'}}Knoten{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to 'login'}}Login{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}        

